# Health Insurance Cross Sell Prediction

## About Dataset

### Context

Our client is an Insurance company that has provided Health Insurance to its customers now they need your help in building a model to predict whether the policyholders (customers) from past year will also be interested in Vehicle Insurance provided by the company.

An insurance policy is an arrangement by which a company undertakes to provide a guarantee of compensation for specified loss, damage, illness, or death in return for the payment of a specified premium. A premium is a sum of money that the customer needs to pay regularly to an insurance company for this guarantee.

For example, you may pay a premium of Rs. 5000 each year for a health insurance cover of Rs. 200,000/- so that if, God forbid, you fall ill and need to be hospitalised in that year, the insurance provider company will bear the cost of hospitalisation etc. for upto Rs. 200,000. Now if you are wondering how can company bear such high hospitalisation cost when it charges a premium of only Rs. 5000/-, that is where the concept of probabilities comes in picture. For example, like you, there may be 100 customers who would be paying a premium of Rs. 5000 every year, but only a few of them (say 2-3) would get hospitalised that year and not everyone. This way everyone shares the risk of everyone else.

Just like medical insurance, there is vehicle insurance where every year customer needs to pay a premium of certain amount to insurance provider company so that in case of unfortunate accident by the vehicle, the insurance provider company will provide a compensation (called â€˜sum assuredâ€™) to the customer.

Building a model to predict whether a customer would be interested in Vehicle Insurance is extremely helpful for the company because it can then accordingly plan its communication strategy to reach out to those customers and optimise its business model and revenue.

Now, in order to predict, whether the customer would be interested in Vehicle insurance, you have information about demographics (gender, age, region code type), Vehicles (Vehicle Age, Damage), Policy (Premium, sourcing channel) etc.

### Data Description

#### Train Data

- `id`: Unique ID for the customer
- `Gender`: Gender of the customer
- `Age`: Age of the customer
- `Driving_License`: 0 : Customer does not have DL, 1 : Customer already has DL
- `Region_Code`: Unique code for the region of the customer
- `Previously_Insured`: 1 : Customer already has Vehicle Insurance, 0 : Customer doesn't have Vehicle Insurance
- `Vehicle_Age`: Age of the Vehicle
- `Vehicle_Damage`: 1 : Customer got his/her vehicle damaged in the past. 0 : Customer didn't get his/her vehicle damaged in the past.
- `Annual_Premium`: The amount customer needs to pay as premium in the year
- `Policy_Sales_Channel`: Anonymized Code for the channel of outreaching to the customer ie. Different Agents, Over Mail, Over Phone, In Person, etc.
- `Vintage`: Number of Days, Customer has been associated with the company
- `Response`: 1 : Customer is interested, 0 : Customer is not interested

#### Test Data

- `id`: Unique ID for the customer
- `Gender`: Gender of the customer
- `Age`: Age of the customer
- `Driving_License`: 0 : Customer does not have DL, 1 : Customer already has DL
- `Region_Code`: Unique code for the region of the customer
- `Previously_Insured`: 1 : Customer already has Vehicle Insurance, 0 : Customer doesn't have Vehicle Insurance
- `Vehicle_Age`: Age of the Vehicle
- `Vehicle_Damage`: 1 : Customer got his/her vehicle damaged in the past. 0 : Customer didn't get his/her vehicle damaged in the past.
- `Annual_Premium`: The amount customer needs to pay as premium in the year
- `Policy_Sales_Channel`: Anonymised Code for the channel of outreaching to the customer ie. Different Agents, Over Mail, Over Phone, In Person, etc.
- `Vintage`: Number of Days, Customer has been associated with the company

#### Submission

- `id`: Unique ID for the customer
- `Response`: 1 : Customer is interested, 0 : Customer is not interested

### Evaluation Metric

The evaluation metric for this hackathon is ROC_AUC score.

### Public and Private split

The public leaderboard is based on 40% of test data, while final rank would be decided on remaining 60% of test data (which is private leaderboard)

### Guidelines for Final Submission

Please ensure that your final submission includes the following:

1. Solution file containing the predicted response of the customer (Probability of response 1)
2. Code file for reproducing the submission, note that it is mandatory to submit your code for a valid final submission

## View data

In [1]:
import pandas as pd

In [2]:
origianl_data_1 = pd.read_csv("/Users/twcch/Documents/Drive/40. Business Analyst/Data/Health Insurance Cross Sell Prediction/train.csv")
origianl_data_1

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [3]:
origianl_data_2 = pd.read_csv("/Users/twcch/Documents/Drive/40. Business Analyst/Data/Health Insurance Cross Sell Prediction/test.csv")
origianl_data_2

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297
...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,Female,26,1,37.0,1,< 1 Year,No,30867.0,152.0,56
127033,508143,Female,38,1,28.0,0,1-2 Year,Yes,28700.0,122.0,165
127034,508144,Male,21,1,46.0,1,< 1 Year,No,29802.0,152.0,74
127035,508145,Male,71,1,28.0,1,1-2 Year,No,62875.0,26.0,265
127036,508146,Male,41,1,29.0,1,1-2 Year,No,27927.0,124.0,231

In [4]:
origianl_data_3 = pd.read_csv("/Users/twcch/Documents/Drive/40. Business Analyst/Data/Health Insurance Cross Sell Prediction/sample_submission.csv")
origianl_data_3

            id  Response
0       381110         0
1       381111         0
2       381112         0
3       381113         0
4       381114         0
...        ...       ...
127032  508142         0
127033  508143         0
127034  508144         0
127035  508145         0
127036  508146         0

[127037 rows x 2 columns]