In [56]:
import os
import pandas as pd

In [130]:
src_folder = "/Users/twcch/Documents/Drive/Data/新光人壽資料/SPSS/"
desc_folder = "/Users/twcch/Documents/Drive/Data/新光人壽資料/Data"
file_name = "XCLSD(987149)"

In [131]:
data = pd.read_spss(os.path.join(src_folder, file_name + ".sav"))
data

,claim_rece_no,hosp_code,visit_type,claim_date_start,claim_date_end,seq_no,surgery_code_ins,surgery_code,surgery_date,major_ind
0,AAH8000201407030G,1.121010e+09,1.0,20140604.0,20140627.0,1.0,061210,149,20140619.0,1.0
1,AXXA300201407041C,4.011800e+08,1.0,20140602.0,20140606.0,1.0,061103,149,20140603.0,1.0
2,AXXE300201407070T,1.302050e+09,1.0,20140520.0,20140526.0,1.0,020007,149,20140521.0,1.0
3,AXXE300201407070T,1.302050e+09,1.0,20140703.0,20140705.0,2.0,050207,031-3,20140704.0,1.0
4,AAGD0002014070704,1.131010e+09,1.0,20140611.0,20140625.0,1.0,050207,031-3,20140617.0,1.0
...,...,...,...,...,...,...,...,...,...,...
987144,AAKD0002013100405,3.532025e+09,2.0,20110201.0,20110201.0,1.0,060607,052-1,20110201.0,1.0
987145,AAGL0002013092704,4.011800e+08,2.0,20130424.0,20130501.0,1.0,010058,001-8,20130424.0,1.0
987146,AAV20002013091001,1.101160e+09,1.0,20130821.0,20130826.0,2.0,100019,009-1,20130822.0,1.0
987147,AALB0002013092608,1.132070e+09,1.0,20130822.0,20130825.0,2.0,020007,149,20130823.0,1.0
987148,AAA80002013092304,1.011500e+08,1.0,20130911.0,20130914.0,1.0,040225,019-4,20130911.0,1.0

In [132]:
data.columns

Index(['claim_rece_no', 'hosp_code', 'visit_type', 'claim_date_start',
       'claim_date_end', 'seq_no', 'surgery_code_ins', 'surgery_code',
       'surgery_date', 'major_ind'],
      dtype='object')

In [133]:
def transfer_type(df, columns, type="str"):
    for column in columns:
        df[column] = df[column].astype(type).map(lambda x : x.split(".")[0])
    return df

data = transfer_type(data, ["claim_rece_no", "hosp_code", "visit_type", "claim_date_start", "claim_date_end", "seq_no", "surgery_code_ins", "surgery_code", "surgery_date", "major_ind"])

In [134]:
data

,claim_rece_no,hosp_code,visit_type,claim_date_start,claim_date_end,seq_no,surgery_code_ins,surgery_code,surgery_date,major_ind
0,AAH8000201407030G,1121010018,1,20140604,20140627,1,061210,149,20140619,1
1,AXXA300201407041C,401180014,1,20140602,20140606,1,061103,149,20140603,1
2,AXXE300201407070T,1302050014,1,20140520,20140526,1,020007,149,20140521,1
3,AXXE300201407070T,1302050014,1,20140703,20140705,2,050207,031-3,20140704,1
4,AAGD0002014070704,1131010011,1,20140611,20140625,1,050207,031-3,20140617,1
...,...,...,...,...,...,...,...,...,...,...
987144,AAKD0002013100405,3532025123,2,20110201,20110201,1,060607,052-1,20110201,1
987145,AAGL0002013092704,401180014,2,20130424,20130501,1,010058,001-8,20130424,1
987146,AAV20002013091001,1101160017,1,20130821,20130826,2,100019,009-1,20130822,1
987147,AALB0002013092608,1132070011,1,20130822,20130825,2,020007,149,20130823,1
987148,AAA80002013092304,101150001,1,20130911,20130914,1,040225,019-4,20130911,1

In [135]:
data.to_csv(os.path.join(desc_folder, file_name + ".csv"), index=False)