In [1]:
from core.constant.mysql_detail import MysqlDetail
from core.util.path_util import PathUtil
from core.util.io_util import IoUtil
from core.util.db.mysql_util import MysqlUtil

In [2]:
path_util = PathUtil()
file_path = path_util.get_keys_folder() + "/prefect_trip_key.txt"
io_util = IoUtil()
data_dict = io_util.read_file_to_dict(file_path, ": ")

In [3]:
mysql_detail = MysqlDetail()
mysql_detail.set_host(data_dict.get("host"))
mysql_detail.set_port(data_dict.get("port"))
mysql_detail.set_username(data_dict.get("username"))
mysql_detail.set_password(data_dict.get("password"))

In [4]:
mysql_util = MysqlUtil("perfect_trip_db", 
                       mysql_detail.get_host(),
                       mysql_detail.get_port(),
                       mysql_detail.get_username(),
                       mysql_detail.get_password())

In [5]:
mysql_util.dataframe_from_mysql("user_master")

,user_id,username,password,first_name,last_name,nickname,tax_id,gender,user_group,phone_number,country,avatar,change_id,created_date,last_modified_date,birthday,address
0,2,test@gmail.com,e10adc3949ba59abbe56e057f20f883e,王,小明,小王,TAX123456,MALE,NORMAL,1234567890,TAIWAN,None,1,2024-08-08 19:06:32,2024-08-08 19:06:32,2024-09-08 00:00:00,None
1,3,test1@gmail.com,e10adc3949ba59abbe56e057f20f883e,小紅,李,紅紅,TAX654321,FEMALE,NORMAL,987-654-3210,TAIWAN,None,1,2024-07-29 10:04:06,2024-07-29 10:04:06,2024-09-08 00:00:00,None
2,4,test3@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,None,None,FEMALE,NORMAL,None,None,None,0,2024-07-30 20:44:49,2024-07-30 20:44:49,2024-09-08 00:00:00,None
3,5,test2@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,None,None,FEMALE,NORMAL,None,None,None,0,2024-08-01 19:33:51,2024-08-01 19:33:51,2024-09-08 00:00:00,None
4,6,test8@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,None,None,MALE,NORMAL,None,None,None,0,2024-08-11 21:40:45,2024-08-11 21:40:45,2024-09-08 00:00:00,None
5,7,test9@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,None,None,MALE,NORMAL,None,None,None,0,2024-08-11 21:44:19,2024-08-11 21:44:19,2024-09-08 13:00:00,None
6,8,test10@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,None,None,MALE,NORMAL,None,None,None,0,2024-08-11 21:45:17,2024-08-11 21:45:17,2024-09-08 00:00:00,None
7,9,test20@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,None,None,MALE,NORMAL,None,None,None,0,2024-08-11 21:56:56,2024-08-11 21:56:56,2024-09-08 00:00:00,None
8,10,jjj@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,123,test123,MALE,NORMAL,0123458,None,None,0,2024-09-08 11:03:29,2024-09-08 11:03:29,2024-09-08 00:00:00,123456789
9,11,ppp@gmail.com,e10adc3949ba59abbe56e057f20f883e,1,23,123,G222222,MALE,NORMAL,0123456,None,None,0,2024-09-08 11:17:08,2024-09-08 11:17:08,2024-09-08 00:00:00,123456
10,12,ttt@gmail.com,e10adc3949ba59abbe56e057f20f883e,None,None,GGG,None,None,NORMAL,None,None,None,0,2024-09-08 16:02:30,2024-09-08 16:02:30,2024-09-08 16:02:30,None

In [6]:
mysql_util.dataframe_from_mysql("company_master")

,company_id,username,password,company_name,vat_number,address,telephone,score,change_id,created_date,last_modified_date,pass,manager
0,1,john,e10adc3949ba59abbe56e057f20f883e,Tech,04742997,"123 Innovation Drive, Silicon Valley, CA 94043",+1-800-123-4567,0.0,0,2024-08-12 19:13:23,2024-08-12 19:13:23,0.0,None
1,2,Jenny,e10adc3949ba59abbe56e057f20f883e,Destiny,0123456,"123 I Drive, Silicon Valley, CA 94043",+1-800-123-6666,0.0,0,2024-08-15 18:02:04,2024-08-15 18:02:04,0.0,None
2,3,happy,e10adc3949ba59abbe56e057f20f883e,Dest,0123458,"123 I Drive, Silicon Valley, CA 94043",+1-800-123-6666,0.0,0,2024-08-17 10:02:11,2024-08-17 10:02:11,0.0,None
3,4,123@gmail.com,e10adc3949ba59abbe56e057f20f883e,123,11111111,123123123,033333333,0.0,0,2024-08-28 18:43:04,2024-08-28 18:43:04,NaN,123
4,5,234@gmail.com,e10adc3949ba59abbe56e057f20f883e,234,00000000,123123123,031111111,0.0,0,2024-08-28 19:10:12,2024-08-28 19:10:12,NaN,123
5,6,happy@gmail.com,e10adc3949ba59abbe56e057f20f883e,麗寶大飯店,88888888,123456789,039222222,0.0,0,2024-09-07 14:15:43,2024-09-07 14:15:43,NaN,123
6,7,JJJJ@gmail.com,e10adc3949ba59abbe56e057f20f883e,九族樂園,66666666,123456123,022222222,0.0,0,2024-09-07 14:45:07,2024-09-07 14:45:07,NaN,123