In [9]:
import yfinance as yf
import datetime as dt

start = dt.datetime(2015, 1, 1)
end = dt.datetime(2024, 12, 31)

data = yf.download(tickers="GOOG", start=start, end=end)

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,26.378078,26.490770,26.133251,26.168653,26.138908,28951268
2015-01-05,26.091366,26.144720,25.582764,25.623152,25.594027,41196796
2015-01-06,25.679497,25.738087,24.983908,25.029282,25.000832,57998800
2015-01-07,25.280592,25.292759,24.914099,24.986401,24.958000,41301082
2015-01-08,24.831326,25.105074,24.482782,25.065184,25.036694,67071641
...,...,...,...,...,...,...
2024-08-30,164.220001,165.279999,163.410004,165.110001,165.110001,18498800
2024-09-03,163.315002,163.380005,157.854996,158.610001,158.610001,26508900
2024-09-04,158.074997,160.399994,157.440002,157.809998,157.809998,17410700
2024-09-05,157.779999,161.014999,157.520004,158.600006,158.600006,14139500
2024-09-06,158.690002,159.220001,151.934998,152.130005,152.130005,24984200

In [10]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

## DatetimeIndex

In [16]:
# 取出每筆資料的週數
data["week"] = data.index.isocalendar().week
data

,Open,High,Low,Close,Adj Close,Volume,week
Date,,,,,,,
2015-01-02,26.378078,26.490770,26.133251,26.168653,26.138908,28951268,1
2015-01-05,26.091366,26.144720,25.582764,25.623152,25.594027,41196796,2
2015-01-06,25.679497,25.738087,24.983908,25.029282,25.000832,57998800,2
2015-01-07,25.280592,25.292759,24.914099,24.986401,24.958000,41301082,2
2015-01-08,24.831326,25.105074,24.482782,25.065184,25.036694,67071641,2
...,...,...,...,...,...,...,...
2024-08-30,164.220001,165.279999,163.410004,165.110001,165.110001,18498800,35
2024-09-03,163.315002,163.380005,157.854996,158.610001,158.610001,26508900,36
2024-09-04,158.074997,160.399994,157.440002,157.809998,157.809998,17410700,36
2024-09-05,157.779999,161.014999,157.520004,158.600006,158.600006,14139500,36
2024-09-06,158.690002,159.220001,151.934998,152.130005,152.130005,24984200,36

## 計算每週交易量的總和

In [17]:
data.groupby("week").Volume.sum()

week
1     1240935668
2     1505244947
3     1437089219
4     1647577994
5     2420076348
6     2086481555
7     1396685276
8     1201954262
9     1714198322
10    1629887593
11    1867387894
12    1839479380
13    1697275353
14    1367205151
15    1191631395
16    1503733693
17    2001703402
18    1790646400
19    1424069900
20    1405353400
21    1342888900
22    1238283900
23    1512846800
24    1550096400
25    1429553200
26    1543718900
27    1027889400
28    1200085100
29    1625139400
30    2142066700
31    1373033100
32    1228059800
33    1212918300
34    1182069600
35    1472994400
36    1255890400
37    1272335500
38    1317590400
39    1316601800
40    1245989800
41    1185928100
42    1204471200
43    1876833800
44    1665813800
45    1409495300
46    1268550400
47     944735000
48    1271693500
49    1366232600
50    1468028500
51    1431325100
52     760901200
53     221698000
Name: Volume, dtype: int64

## resample

In [20]:
# 調整週期重新取樣
# 股票 10 日均線，需要 10 日 10 日的重新計算
ten = data.resample("10D").mean()  # 代表 10 日
ten  # 會得到每 10 天平均的結果

,Open,High,Low,Close,Adj Close,Volume,week
Date,,,,,,,
2015-01-02,25.571626,25.658048,25.128095,25.268874,25.240152,4.632450e+07,1.833333
2015-01-12,25.018882,25.272300,24.809927,25.105430,25.076894,4.699381e+07,3.285714
2015-01-22,26.179624,26.513991,25.838204,26.237678,26.207855,5.680840e+07,4.714286
2015-02-01,26.339827,26.601765,26.103476,26.383493,26.353503,3.766599e+07,6.285714
2015-02-11,26.963828,27.179165,26.809188,27.013477,26.982772,2.971908e+07,7.571429
...,...,...,...,...,...,...,...
2024-07-23,173.934999,175.613749,171.735626,173.049999,173.049999,2.117745e+07,30.5
2024-08-02,162.289001,165.718335,160.720001,163.259997,163.259997,2.309652e+07,31.833333
2024-08-12,165.467503,167.023750,164.217503,165.601250,165.601250,1.548838e+07,33.375
2024-08-22,166.916428,167.899285,164.548859,165.748570,165.748570,1.570789e+07,34.714286
2024-09-01,159.465000,161.003750,156.187500,156.787502,156.787502,2.076082e+07,36.0